html, body
{
    background-color: #e7b91b;
    margin-left: auto;
    margin-right: auto;

    min-width: 300px;

    min-height: 400px;
}

#overskriftBold
{
    font-family: "Helvetica-Neue";
    font-size: 275em;
    /*bold*/
    font-weight: bold;
    text-align: center;
    color: #111;
    margin-top: 100px;
    margin-bottom: 100px;
}

.underoverskrift
{
    font-family: "Open Sans";
    font-size: 30px;
    text-align: center;
    color: #111;
    margin-bottom: 40px;
}

p
{
    font-family: "Helvetica-Neue";
    font-size: 14px;
    color: #685206;
}